.card {
	vertical-align:	top;
	position:	relative;
	display:	inline-block;
	width:		385px;
	height:		600px;
	border-radius:	25px;
	-webkit-box-shadow: 0px 2px 8px #333;
	box-shadow: 	0px 2px 8px #333;
	margin-right:	10px;
	margin-left:	10px;
	margin-bottom:	60px;
}

.card-front {
	background:	#111;
	border:		3px solid #FFF;
	color:		#FFF;
}

.card-back {
	background:	#111;
	border:		3px solid #FFF;
	color:		#FFF;
}

.card .qrcode {
	position:	absolute;
	bottom:		0px;
	width:		100%;
	background:	#FFF;
	border-radius:	0px 0px 20px 20px;
}

.card .logo {
	text-align:	center;
	margin:		20px;
	font-size:	35px;
	font-weight:	bold;
	color:		#888;
}

.card .category {
	position:	relative;
	top:		250px;
	width:		350px;
	text-align:	center;
	margin:		20px;
	font-size:	35px;
	font-weight:	bold;
}

.card .question {
	text-align:	left;
	margin:		20px;
	font-size:	35px;
	font-weight:	bold;
}

.card .hint {
	text-align:	left;
	margin:		20px;
	font-size:	25px;
}

.card .hint:before {
	font-weight:	bold;
	content:	"Choices: ";
	color:		#AAA;
}

.card .answer-block {
	position:	absolute;
	bottom:		0px;
	width:		340px;
	margin:		20px;
	text-align:	left;
	transform:	rotate(180deg);
	-webkit-transform:	rotate(180deg);
}

.card .answer {
	font-size:	20px;
	font-weight:	bold;
	margin-bottom:	8px;
}

.card .answer:before {
	content:	"Answer: ";
	color:		#AAA;
}

.card .details {
	margin-bottom:	8px;
}

.card .details:before {
	content:	"Details: ";
	font-weight:	bold;
	font-size:	20px;
	color:		#AAA;
}

.card .reference {
	margin-bottom:	8px;
}

.card .reference:before {
	content:	"Reference: ";
	font-weight:	bold;
	font-size:	20px;
	color:		#AAA;
}

.card .caption {
	position:	absolute;
	bottom:		-40px;
	left:		42%;
	color:		#000;
	font-weight:	bold;
	background:	#FFF;
	border:		2px solid #333;
	padding:	2px;
	padding-left:	10px;
	padding-right:	10px;
	border-radius:	5px;
}

.card-sm {
	vertical-align:	top;
	position:	relative;
	display:	inline-block;
	width:		285px;
	height:		400px;
	border-radius:	25px;
	-webkit-box-shadow: 0px 2px 8px #333;
	box-shadow: 	0px 2px 8px #333;
	margin-right:	10px;
	margin-left:	10px;
	margin-bottom:	60px;
}

.card-sm:hover {
	transition:	all 1s;
	border:		3px solid gold;
	#transform: 	scale(2,2);
	#-webkit-transform: scale(1.1,1.1);
}

.card-sm-front {
	background:	#111;
	border:		3px solid #FFF;
	color:		#FFF;
}

.card-sm-back {
	background:	#111;
	border:		3px solid #FFF;
	color:		#FFF;
}

.card-sm .qrcode {
	position:	absolute;
	bottom:		0px;
	width:		100%;
	background:	#FFF;
	border-radius:	0px 0px 20px 20px;
}

.card-sm .logo {
	text-align:	center;
	margin:		20px;
	font-size:	35px;
	font-weight:	bold;
	color:		#888;
}

.card-sm .category {
	position:	relative;
	top:		250px;
	width:		350px;
	text-align:	center;
	margin:		20px;
	font-size:	35px;
	font-weight:	bold;
}

.card-sm .question {
	text-align:	left;
	margin:		15px;
	font-size:	25px;
	font-weight:	bold;
}

.card-sm .hint {
	text-align:	left;
	margin:		15px;
	font-size:	20px;
}

.card-sm .hint:before {
	font-weight:	bold;
	content:	"Choices: ";
	color:		#AAA;
}

.card-sm .answer-block {
	position:	absolute;
	bottom:		0px;
	width:		255px;
	margin:		15px;
	text-align:	left;
	font-size:	12px;
	transform:	rotate(180deg);
	-webkit-transform:	rotate(180deg);
}

.card-sm .answer-block:hover {
	transform:	rotate(0deg);
	-webkit-transform:	rotate(0deg);
}

.card-sm .answer {
	font-size:	15px;
	font-weight:	bold;
	margin-bottom:	8px;
}

.card-sm .answer:before {
	content:	"Answer: ";
	color:		#AAA;
}

.card-sm .details {
	margin-bottom:	8px;
}

.card-sm .details:before {
	content:	"Details: ";
	font-weight:	bold;
	font-size:	15px;
	color:		#AAA;
}

.card-sm .reference {
	margin-bottom:	8px;
}

.card-sm .reference:before {
	content:	"Reference: ";
	font-weight:	bold;
	font-size:	15px;
	color:		#AAA;
}

.card-sm .caption {
	position:	absolute;
	bottom:		-35px;
	left:		10px;
	color:		#FFF;
	font-weight:	bold;
	background:	#222;
	border:		2px solid #CCC;
	padding:	2px;
	width:		260px;
	border-radius:	5px;
}

.title {
	position:	relative;
	top:		2px;
	padding:	1px;
	padding-left:	4px;
	padding-right:	4px;
	width:		100%;
	background:	none;
	color:		#FFF;
	border-radius:	3px 3px 0px 0px;
}

.filter-bar {
	position:	fixed;
	top:		0px;
	left:		0px;
	width:		300px;
	height:		100%;
	padding-top:	18px;
	border-right:	3px solid #444;
	background:	#222;
	color:		#FFF;
}

.filter-bar h1 {
	width:		100%;
	background:	#333;
	font-size:	30px;
	height:		40px;
}


